NAVER_MAP_CLIENT_ID=your_naver_map_client_id
KMA_API_KEY=your_kma_api_key
VISION_SERVER_HOST=your_vision_server_host_and_port
ODSAY_API_KEY_IOS=your_odsay_api_key
ODSAY_API_KEY_ANDROID=your_odsay_api_key
KAKAO_REST_API_KEY=your_kakao_rest_api_key
MAPS_API_KEY=your_maps_api_key