NAVER_MAP_CLIENT_ID=your_naver_map_client_id
NAVER_MAP_CLIENT_ID_FALLBACK=your_naver_map_client_id_fallback
KAKAO_REST_API_KEY=your_kakao_rest_api_key
VISION_SERVER_HOST=your_vision_server_host_and_port
